.cartEmpty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    .cartEmptyImg{
        margin-bottom: 20px;
    }
    .emptyTitle{
        margin-bottom: 9px;font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        color: #000000;
        
    }
    .cartEmptyText{
        width: 285px;
        opacity: 0.7;
        text-align: center;
        margin-bottom: 40px;
    }
    .drawerBack{
        width: 245px;
        height: 55px;
        background: #9DD558;
    border-radius: 18px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    position: relative;
    &:hover{
        background: lighten( #9DD558, 5%);
        img{
            transform: translateX(-5px);
        }
    }
    &:active{
        background: darken( #9DD558, 5%);
    }
    img{
        position: absolute;
        left: 23px;
        top: 20px;
        transition: transform 0.15s ease-in-out;
    }
    }
}